@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
html {
    font-family: 'IM Fell French Canon', serif;
}

body {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.date {
    font-family: 'Gilda Display', serif;
}

.menu {
    position : fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D09C42;
    display: grid;
}

.menu_liste {
    margin-top: 230px;
    padding-left: 0;
}

.menu_liste li {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.menuBtn {
    position: relative;
    top: 5px;
    z-index: 10;
    border: none;
    background-color: transparent;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}

.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carrousel_ecran {
    width: 100%;
    flex: 0 0 100%;
    scroll-snap-align: start;
}

.carrousel_ecran figure {
    margin: none;
}

.carrousel {
  position: relative;
}

.carrousel figcaption {
    text-align: center;
}

.carrousel_btn {
  position: absolute;
  top: 50%; /* centre verticalement */
  transform: translateY(-50%); /* methode du point mort */
  width: 2rem;
  height: 2rem;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  color: #fff;
}

.carrousel_btn-avant {
  left: 0;
}

.carrousel_btn-apres {
  right: 0;
}

.imgcarrousel {
    height: 270px;
}

.portrait {
    margin-left: 50px;
}

.portrait1 {
    margin-left: 40px;
}

.portrait2 {
    margin-left: 70px;
}

.imgfrise {
    height: 200px;
}

.frise{
    border-top: 2px dashed;
    border-color: blue !important;
    margin:0; padding: 30px;
}

.frise:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
}

.frise:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px; 
    padding-left: 0;
}
  
.frise:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}
  
.frise:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

.accordeon {
    margin-bottom: 20px;
}

.accordeon button{
    margin-left: 20px;
    width: 320px;
    height: 38px;
    margin-bottom: 5px;
}

header {
    background-color: #D09C42;
    margin: 0 -0.5rem 0 -10px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
}

header a {
    color: #000000;
    text-decoration: none;
}

header .lang {
    position: relative;
    top: -10px;
    padding-left: 15rem;
    font-size: 25px;
}

footer{
    background-color: #D09C42;
    margin: 0 -0.5rem 0 -10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer img {
    width: 10%;
}